.nav-link {
    display: block;
    padding: .5rem 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.col-6{
    border: solid gray ;
    padding-top: 10px;
    padding-bottom: 20px;
    border-width: 1px;
}

a{
    text-decoration: none;
}