{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}ورود {% endblock %}
{% block content %}
<section class="vh-100">
	<div class="container-fluid h-custom">
	  <div class="row d-flex justify-content-center align-items-center h-100 " style="text-align: right;direction:rtl">
		<div class="col-md-8 col-lg-6 col-xl-4 ">
		  <form method="POST">	
			{% csrf_token %}
			<!-- username input -->
			<div class="form-outline mb-4">
			<label class="form-label" for="id_username">یوزنیم</label>
			{{form.username|add_class:'form-control form-control-lg'}}
			</div>
  
			<!-- Password input -->
			<div class="form-outline mb-3">
				<label class="form-label" for="id_password">پسورد</label>
				{{form.password|add_class:'form-control form-control-lg'}}
			</div>
  
			<div class="d-flex justify-content-between align-items-center">
			  <!-- Checkbox -->
			  <div class="form-check mb-0">
				<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
				<label class="form-check-label" for="form2Example3">
				  مرا به خاطر بسپار
				</label>
			  </div>
			  <a href="#!" class="text-body">پسورد خود را فراموش کردید؟</a>
			</div>

			<div class="text-right text-lg-start mt-4 pt-2 d-flex justify-content-center">
			  <button type="submit" class="btn btn-primary btn-lg"
				style="padding-left: 2.5rem; padding-right: 2.5rem;">ورود</button>
			</div>
			
			<span class="small fw-bold mt-2 pt-1 mb-0">حساب کاربری ندارید؟<a href="{% url 'account:register' %}"
				class="link-danger">ساخت حساب </a></span>
		  </form>
		</div>
	  </div>
	</div>
  </section>
{% endblock %}
