{% extends "base.html"%}
{%block title%}خانه{% endblock %}
{% block content %}
<div class="container mt-5 mb-5" style="text-align: right;direction:rtl;">
  <div class="row g-2"> 
    <p>جدید ترین محصولات</p>
    {% for product in products%}
          <div class="col-md-5">
            <div class="product py-4">
                <div class="text-center"> <img src="{{product.thumbnail.url}}" width="200"> </div>
                <div class="about text-center">
                    <a href="{{product.get_absolute_url}}"><p>{{product.title}}</h5></a> <p>{{product.price}}تومان</p>
                    {% if product.exist %}
                      <p class="text-success">محصول موجود است </p>
                    {% else %}
                      <p class="text-danger">درحال حاضر محصول موجود نیست</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <p>پربازدیدترین محصولات</p>
    {% for product in most_visit_product %}
    <div class="col-md-5">
      <div class="product py-4">
          <div class="text-center"> <img src="{{product.thumbnail.url}}" width="200"> </div>
          <div class="about text-center">
              <a href="{{product.get_absolute_url}}"><p>{{product.title}}</h5></a> <p>{{product.price}}تومان</p>
              {% if product.exist %}
                <p class="text-success">محصول موجود است </p>
              {% else %}
                <p class="text-danger">درحال حاضر محصول موجود نیست</p>
            {% endif %}
          </div>
      </div>
  </div>
{% endfor %}
  </div>
</div>
{% endblock %}

