<!-- Footer --><!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-5">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
            دیجی‌کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل، پرداخت در محل، ۷ روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: لینک ها -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">درباه ما</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">فروش </a>
              </li>
              <li>
                <a href="#!" class="text-white">فرصت های شغلی</a>
              </li>
              <li>
                <a href="#!" class="text-white">ارتباط با ما</a>
              </li>
              <li>
                <a href="#!" class="text-white">در باره ما</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">خدمات مشتریان</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">پاسخ با سوالات متداول مشتریان</a>
              </li>
              <li>
                <a href="#!" class="text-white">رویه بازگرداندن کالا</a>
              </li>
              <li>
                <a href="#!" class="text-white">حریم خصوصی</a>
              </li>
              <li>
                <a href="#!" class="text-white">گزارش خطا</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">راهنمای خرید  </h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">نحوه ثبت سفارش</a>
              </li>
              <li>
                <a href="#!" class="text-white">رویه ارسال سفارش</a>
              </li>
              <li>
                <a href="#!" class="text-white">شیوه پرداخت</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: لینک ها -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 کپی رایت
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->